/* ------------------------ */
/* TEMA BIBLIOTECA HOGWARTS */
/* ------------------------ */
.root {
    -fx-background-color: #f5e9d5;
    -fx-text-fill: #654321;
    -fx-font-family: "Georgia", "Times New Roman", serif;
}

#rootPane {
    -fx-background-radius: 12;
    -fx-border-radius: 12;
    -fx-border-width: 3;
    -fx-padding: 0;
    -fx-border-color: #8b4513;
    -fx-background-color: #f5e9d5;
    -fx-effect: dropshadow(three-pass-box, rgba(139, 69, 19, 0.3), 10, 0, 0, 0);
}

.button {
    -fx-font-size: 14px;
    -fx-font-weight: bold;
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-padding: 10 20 10 20;
    -fx-text-fill: #ffffff;
    -fx-background-color: #a0522d;
    -fx-min-width: 100%;
    -fx-min-height: 35px;
    -fx-cursor: hand;
    -fx-border-color: #8b4513;
    -fx-border-width: 1;
}

.button:hover {
    -fx-background-color: #b5651d;
    -fx-effect: innershadow(three-pass-box, rgba(139, 69, 19, 0.3), 5, 0, 0, 2);
}

.label {
    -fx-font-weight: bold;
    -fx-text-fill: #654321;
    -fx-font-style: italic;
}

.text-area {
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-border-color: #bcaaa4;
    -fx-border-width: 1px;
    -fx-background-color: #fff8e1;
    -fx-text-fill: #5d4037;
}

.text-area .content {
    -fx-background-color: #fff8e1;
    -fx-text-fill: #5d4037;
}

.text-field {
    -fx-border-radius: 6px;
    -fx-background-radius: 6px;
    -fx-border-color: #bcaaa4;
    -fx-border-width: 1px;
    -fx-background-color: #fff8e1;
    -fx-text-fill: #5d4037;
    -fx-prompt-text-fill: #8d6e63;
}

.radio-button {
    -fx-font-weight: normal;
    -fx-text-fill: #654321;
}

.radio-button .radio {
    -fx-border-color: #a1887f;
    -fx-background-color: #fff8e1;
}

.menu-bar {
    -fx-background-color: #e6d2b5;
    -fx-padding: 0;
    -fx-border-color: #8b4513;
    -fx-border-width: 0 0 1 0;
}

.menu {
    -fx-font-weight: bold;
    -fx-text-fill: #654321;
}

.menu-item {
    -fx-background-color: #e6d2b5;
}

.menu-item:hover {
    -fx-background-color: #d6c2a5;
}